@import '../../shared/styles/palette.scss';

@mixin mobile {
  @media (max-width: 767px) { @content; }
}

@mixin tablet {
  @media (min-width: 768px){ @content; }
}

@mixin desktop {
  @media (min-width: 1025px) { @content; }
}


.side-menu {

    @include mobile {
        display: none; 
    }

    @include tablet {
      grid-column: 1 / 2;
      grid-row: 1 / span 2;
      background: $dark-grey;
    }
    

    .menu__content {
        &--list {
            .list--item {
              cursor: pointer;
              padding: 0.5em 0 0.5em 0.4em;

              color: $light-grey-font;
                &__link {
                    display: block;
                    padding: 0.8em 0.4em 0.8em 0.6em;
                    text-decoration: none;
                    color: $light-grey-font;

                    &:hover {
                        background: rgba(0, 0, 0, 0.2);
                        color: $medium-grey;
                    }

                    &--icon {
                        margin-right: 0.6em;
                    }
                }

                &__subItems {
                  font-size: 0.8em;
                  display: none
                }

                &.active {
                  > .list--item__subItems {
                    display: block;
                  }
                }
            }
        }
    }
}