.ticket__container {
  background: #4c4e4d;
  color: #d8dada; }
  .ticket__container--header {
    text-align: center;
    padding: 0.5em 0;
    color: #d8dada;
    border-bottom: 0.2em #a4b357 solid; }
    .ticket__container--header.checkout {
      margin: 2em 0 1em;
      border-top: 0.2em #a4b357 solid; }
  .ticket__container .ticket__bet {
    padding: 0.5em 1em; }
    .ticket__container .ticket__bet--remove {
      text-align: end;
      cursor: pointer; }
    .ticket__container .ticket__bet--market, .ticket__container .ticket__bet--event {
      display: inline-block;
      width: 100%;
      padding-top: 0.3em; }
    .ticket__container .ticket__bet--market {
      font-size: 0.875em; }
  .ticket__container .bet__checkout--value {
    padding: 0.5em 1em; }
  .ticket__container .bet__checkout input {
    padding: 0.5em;
    width: 12em;
    border: none; }
  .ticket__container .bet__checkout .value__identifier {
    display: inline-block;
    width: 100%;
    margin-bottom: 2em; }
    .ticket__container .bet__checkout .value__identifier input {
      margin-left: 1em; }
    .ticket__container .bet__checkout .value__identifier input::-webkit-outer-spin-button,
    .ticket__container .bet__checkout .value__identifier input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0; }
    .ticket__container .bet__checkout .value__identifier input[type=number] {
      -moz-appearance: textfield; }
  .ticket__container .bet__checkout .tip__container {
    text-align: center;
    border: 1px solid #a4b357;
    padding: 1em;
    margin-bottom: 2em; }
  .ticket__container .bet__checkout .value__multi {
    margin-right: 0.5em; }
  .ticket__container .bet__checkout .bet-return {
    display: inline-block;
    width: 100%;
    font-size: 0.8em;
    margin-top: 1em; }
  .ticket__container .bet__checkout button {
    width: 100%;
    height: 28px;
    border: none;
    color: #d8dada;
    font-size: 14px;
    background-color: #75890c;
    cursor: pointer; }
    .ticket__container .bet__checkout button:disabled {
      background-color: #a5a2a2;
      cursor: not-allowed; }
  .ticket__container .hash-overlay {
    height: 105%;
    position: absolute;
    top: 17%;
    background-color: rgba(0, 0, 0, 0.7); }
    .ticket__container .hash-overlay .hash__content {
      background: white;
      width: 70%;
      margin: 50% auto;
      color: #000;
      text-align: center;
      height: 30%;
      padding: 0.5em 1em 1em; }
      .ticket__container .hash-overlay .hash__content .content--close {
        float: right;
        margin-bottom: 1em;
        font-size: 1.2em;
        cursor: pointer; }
      .ticket__container .hash-overlay .hash__content .content--subs {
        display: inline-block;
        margin-bottom: 2em; }
      .ticket__container .hash-overlay .hash__content .content--hash {
        font-size: 1.3em; }
