.list {
  margin-top: 4em; }
  @media (max-width: 767px) {
    .list {
      margin-top: 2em; } }

.list__title {
  background: #75890c;
  color: #eeefef;
  font-size: 0.875em;
  padding: 0.5em;
  margin-bottom: 0.5em;
  margin-top: 1em; }
  .list__title--icon {
    margin-right: 0.5em; }
  .list__title--date {
    color: #ccc; }

.list__title.true ~ .list__content {
  display: none; }

.items {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  background: #f6f6f6;
  font-size: 0.875em;
  padding: 1em;
  grid-gap: 0.5em;
  border: 1px solid #ddd;
  margin-bottom: 0.5em; }
  .items .teams {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: 2.5em 1fr 1fr;
    align-items: center; }
    @media (max-width: 767px) {
      .items .teams {
        grid-column: 1 / span 6; } }
    .items .teams__info {
      grid-column: 1 / 3; }
    .items .teams--home {
      padding-bottom: 0.5em;
      text-decoration: none;
      color: #768a84; }
    .items .teams .game {
      color: #768a84; }
      .items .teams .game--date {
        padding-bottom: 0.5em; }
  .items .challenges {
    grid-column: 3 / 6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8em;
    align-items: center; }
    @media (max-width: 767px) {
      .items .challenges {
        grid-column: 1 / span 6; } }
    .items .challenges__bet {
      height: 4.5em;
      display: grid;
      align-content: center;
      text-align: center;
      background: #eaeaea;
      padding: 0.5em;
      cursor: pointer; }
      .items .challenges__bet:hover {
        background: #d8d8d8; }
      .items .challenges__bet:active {
        background-color: #000; }
      .items .challenges__bet .team__title {
        padding-bottom: 0.5em; }
      .items .challenges__bet .team__odd {
        font-weight: 800; }
  .items .detail {
    align-items: center;
    text-align: center;
    display: grid; }
    @media (max-width: 767px) {
      .items .detail {
        display: none; } }
    .items .detail a {
      color: #4c4e4d; }
