.container {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  min-height: 25em;
  grid-gap: 1em; }

.games__list {
  grid-column: 2 / 7;
  padding-top: 2em; }
  @media (max-width: 599px) {
    .games__list {
      grid-column: 1 / span 8;
      padding-top: 1em; } }

.ticket {
  grid-column: 7 / 9; }
  @media (max-width: 599px) {
    .ticket {
      grid-column: 1 / span 8; } }
